.clientMain{
    width: 90%;
    margin: auto;
    height: 260vh;
}
.clientMain-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 434px;
}

.clientMain-heading h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
}

.clientMain-heading p{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

.clientCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column,row;
}

.clientCard{
    width: 225px;
    height: 141px;
    border: 4px solid #F24005;
    border-radius: 40px;
    object-fit: cover;
    overflow: hidden;
    margin: 40px;
}

.clientCard img{
    margin-top: 20px ;
}

.clientMain-last-text{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 120px;
}

@media only screen and (max-width: 1000px) {  
   
    .clientMain-heading h1{
        font-size: 35px;
    }

    .clientMain-heading p{
        font-size: 18px;
        width: 100%;
        height: 34px;
    }

    .clientMain-heading{
        display: block;
        margin-top: 20px;
        height: 200px;
    }
    
    .clientCard{
        width:166px;
        height: 108px;
        margin: 10px;
    }

    .clientCard img{
        width: 100%;
    }

    .clientMain{
        height: max-content;
    }

    .clientMain-last-text{
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
   }