body{
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 80%; /* Webkit browsers */
}

*{
  background-color: #f3f4fa;
  color: black;
}
.button-background-color{
  background-color: #F24005 !important;
  color: #EEEEEE !important;
  border-radius: 30px !important;
  padding: 3px 30px !important;
  width: 183px;
  height: 41px;
  font-weight: 500;
  font-size: 19px;
}

.button-background-color:hover{
   background-color:transparent !important;
   /* color: #F24005 !important; */
   transition: all 0.3s ease-in;
}

.button-background-color a:hover{
  color: #F24005 !important;
}

.navcolor a{
  font-weight: normal;
  color: black !important;
  font-size: 18px;
  line-height: 23px
}

.navcolor{
  position: relative;
}

.navcolor::after{
  content: '';
  position: absolute;
  bottom: 2px;
  display: block;
  margin: auto;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: 0.5s
}

.navcolor:hover::after{
  width: 100%;
}

.navhover{
  border-bottom: 3px solid black;
  margin-bottom: 2px;
}

.navbar{
  height: 90px !important;
}
.nav-responsive{
  display: none;
}
/* .nav-responsive-bar{
  float: left;
  
} */

 @media only screen and (max-width: 1000px) {  

.responsive-nav-bar{
  justify-content: start !important;
  margin-top: 20px;
  margin-left: 40px;
}

.responsive-nav-bar button{
  width: 40%;
}

.container-fluid{
  background-color: transparent !important;
}

 }
